body {
    font-family: cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(34, 165, 125);
    font-family: monospace;
}

p1,
p2,
p3,
p4,
p5,
p6 {
    font-size: 12;
    font-family: fantasy;
    text-align: justify;
}

p1 {
    color: rgba(138, 43, 226, 0.67)
}

p2 {
    color: rgb(178, 201, 158)
}

p3 {
    color: rgb(84, 84, 250)
}

h4 {
    text-align: center;
}

a {
    align-content: stretch
}